{
  "apiSecretKeys": {
    "https://api.swaggerhub.com/apis/{username}/{apiSpecName}": "{your_private_API_key}",
    "https://api.swaggerhub.com/apis/{username}/{some_other_apiSpecName}": "{your_private_API_key, may be same or different from above one}"
  }
}
